<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>Cyber Security Projects</title>
    <link href="./static/main.css" rel="stylesheet" />
  </head>
  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    <header>
      <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./webdev.html" title="">02 : Web Development</a></li>
              <li><a href="./science.html" title="">03 : Data Science</a></li>
              <li><a href="./cyber.html" title="">04 : Cyber Security</a></li>
              <li><a href="./about.html" title="">05 : About Me</a></li>
              <li><a href="./contact.html" title="">06 : Contact Me</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">04 : Cyber Security Pojects</h1>
              <p>
                Projects developed in the field of cybersecurity. Various types of malware and encryption mostly in python and java.
              </p>
            </div>
          </div>

          <div class="col-md-12">
            <div id="myCarousel" class="carousel slide projects-carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-4">
                      <a
                        href="./work.html"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/keylogger.png"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>Key Logger</h3>
                        <p>
                          Malware that remotely captures keystrokes and sends them via email.
                        </p>
                        <a href="./work.html" title="" class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="./work.html"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/caeser.png"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>002/006</h4>
                        <h3>Caeser Cipher</h3>
                        <p>
                          Encryptor and decryptor with Caeser methodology developed in python.
                        </p>
                        <a href="./work.html" title="" class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a
                        href="./work.html"
                        title=""
                        class="black-image-project-hover"
                      >
                        <img
                          src="./static/assets/images/audax.png"
                          alt=""
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container card-container-lg">
                        <h4>003/006</h4>
                        <h3>AudaxV1</h3>
                        <p>
                          A backdoor Trojan that allows you to execute terminal commands.
                        </p>
                        <a href="./work.html" title="" class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
                <!--/item-->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img
                          src="./static/assets/images/mac.png"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>004/006</h4>
                        <h3>Mac Changer</h3>
                        <p>
                          Script to change the mac address in the terminal on Linux OS.
                        </p>
                        <a href="./work.html" class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img
                          src="./static/assets/images/cipher.png"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>005/006</h4>
                        <h3>Vigenere Cipher</h3>
                        <p>
                          Encryptor and decryptor with vigenere methodology developed in python.
                        </p>
                        <a href="./work.html" class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a href="./work.html" class="black-image-project-hover">
                        <img
                          src="./static/assets/images/work02-hover.jpg"
                          alt="Image"
                          class="img-responsive"
                        />
                      </a>
                      <div class="card-container">
                        <h4>006/006</h4>
                        <h3>Vivamus vestibulum</h3>
                        <p>
                          Fusce sed hendrerit augue, a rhoncus velit. In non
                          lorem mattis, tempor sem sit amet.
                        </p>
                        <a href="./work.html" class="btn btn-default"
                          >Discover</a
                        >
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>

                <!--/item-->
              </div>
              <!--/carousel-inner-->
              <a
                class="left carousel-control"
                href="#myCarousel"
                data-slide="prev"
                >‹</a
              >

              <a
                class="right carousel-control"
                href="#myCarousel"
                data-slide="next"
                >›</a
              >
            </div>

            <!--/myCarousel-->
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              Copyright &copy; {{ current_year }} | Website created by
              <a href="index.html">TUR14CUS</a><a></a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>
    <script type="text/javascript" src="./static/main.js"></script>
  </body>
</html>
